html{
    background-color: blanchedalmond;
}
h2{
    color: blue;
}

.enlaces 
{
    text-decoration: none;
    font-size: x-large;
    list-style: none;
    
    }

    
.barra
{
    background-color: darkgray;
    display: -webkit-flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0%;
    
      
}
    h1{
        margin: 0%;
        background-color: darkgray;
        font-family:Georgia, 'Times New Roman', Times, serif
        
    }
    main{
        background-color: yellow;
       font-size: x-large;
       font-weight: bold;
       font-family: 'Times New Roman', Times, serif;
        
        }
        footer{
            background-color: darkgray;
            font-size:large;
            font-weight: bold;
        }

    .cuadro {
        display:grid;
                grid-template-columns: 400px 300px;
            justify-items:center; 
            justify-content: center;
               column-gap: 0px;
        row-gap: 10px;
                             
        }
        .cuadroparks
        {
            display:grid;
                grid-template-columns: 200px 140px 140px 140px;
            justify-items:center; 
            justify-content: center;
               column-gap: 0px;
               column-gap: 0px;
        row-gap: 10px;
        }
